*,
*:before,
*:after {
  margin: 0pt;
  padding: 0pt;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  position: relative;
}

h1 {
  font-size: 30px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

a,
p {
  font-size: 16px;
}

.btn {
  background-color: #167EFB;
  padding: 10px 12px;
  width: 250px;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 600;
}

button {
  cursor: pointer;
}

/*Navbar start */
.navbar {
  padding: 25px 50px;
  border-bottom: 1px solid #c5c5c5;
  width: 100%;
  height: 104px;
}

.navbar .search {
  padding: 16px;
  width: 750px;
  height: 50px;
  border-radius: 16px;
  border: 1px solid #cfcfcf;
}

::placeholder {
  color: #c5c5c5;
  font-size: 20px;
  padding: 10px;
  padding-left: 30px;
  font-family: "Poppins", sans-serif;
}

.navbar .search-section {
  display: flex;
  align-items: center;
  gap: 28px;
  justify-content: space-between;
}

.navbar .search-form {
  position: relative;
  display: flex;
  gap: 28px;
}

.navbar .search-input {
  position: relative;
}

.navbar .close-icon {
  top: 14px;
  right: 15px;
  position: absolute;
}

.navbar .search-icon {
  top: 7px;
  left: 6px;
  position: absolute;
}

/*Navbar End */

/*Sidebar Start */
.sidebar {
  width: 300px;
}

.sidebar .logo {
  padding: 25px 50px;
  border-bottom: 1px solid #c5c5c5;
}

.header-section {
  display: flex;
}

.small-title {
  font-size: 16px;
  color: #64748B;
}

.menus {
  margin: 24px;
  border-bottom: 1px solid #c5c5c5;
}

.menus .btn {
  margin-bottom: 24px;
}

ul {
  list-style: none;
}

ul li {
  margin: 24px 0px;

}

.menu-item {
  text-decoration: none;
  color: #191D23;
  display: flex;
  gap: 10px;
  padding-left: 12px;
  font-weight: 600;
}

.menu-item.active {
  background: rgba(22, 126, 251, 16%);
  padding: 12px 8px;
  border-radius: 4px;
  font-weight: 600;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 39%);
}

.indicator {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.indicator div {
  display: flex;
  gap: 10px;
}

.indicator span {
  padding: 0px 8px;
  background: #167EFB;
  color: #fff;
  border-radius: 4px;
}

.profile-section {
  margin: 24px;
}

.profile {
  margin: 24px 0px;
  display: flex;
  gap: 10px;
}

.profile .content h3 {
  font-size: 16px;
  color: #191D23;
  font-weight: 600;
}

.profile .content a {
  font-size: 16px;
  color: #A0ABBB;
  text-decoration: none;
}

.profile img {
  width: 42px;
  height: 40px;
}

.profile-section .logout {
  justify-content: center;
  background: #F7F8F9;
  color: #191D23;
  display: flex;
  gap: 10px;
}



/*main started */

main {
  position: absolute;
  top: 138px;
  margin-left: 350px;
  width: calc(100% - 350px);
  padding-right: 50px;
  padding-bottom: 50px;
}

.card {
  height: auto;
  border-radius: 30px;
  min-width: 315px;
  border: 1px solid rgba(0, 0, 0, 15%);
  padding: 30px 40px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 39%);
}

.menu-btn {
  background: none;
  border: none;
}

.card-title .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title .title {
  display: flex;
  align-items: center;
  gap: 17px;
}

.card-title h3 {
  font-size: 16px;
  color: rgba(0, 0, 0, 39%);
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.card-body {
  margin-top: 27px;
}

.card-body h3 {
  font-size: 30px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.card-body p {
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: rgba(0, 0, 0, 39%);
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 35px;
}

.service-card .card-body {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.red {
  color: red;
}

.light-green {
  color: #47FF5A;
}

.revenue-chart-card {
  height: 366px;
  grid-column: span 2;
}

.expense-chart-card {
  height: 366px;
}

.lowercase {
  text-transform: capitalize !important;
}

#DoughnutChart,
#lineChart {
  max-height: 250px;
}

.badge {
  background: rgba(100, 227, 56, 32%);
  border-radius: 10px;
  color: #2E9A09;
  padding: 6px;
}

.filter ul {
  display: flex;
  color: rgba(0, 0, 0, 50%);
  gap: 34px;
  border-radius: 10px;
  background: #D9D9D9;
}

.filter ul li {
  margin: 0px;
  padding: 6px;
}

.filter ul li.active {
  background: #fff;
  border: 1px solid black;
  border-radius: 10px;
  font-weight: 900;
}

.tracking-search {
  padding: 16px;
  width: 250px;
  border-radius: 16px;
  border: 1px solid #cfcfcf;
  background: #D9D9D9;
  height: 20px;
}

.tracking-search::placeholder {
  color: rgba(0, 0, 0, 50%);
  padding-left: 0px;
  font-weight: normal;
  font-size: 12px;
}

.vehicle-tracking {
  grid-column: span 2;
  height: 270px;
}

.vehicle-tracking img {
  width: 100%;
  height: 100%;
}

.vehicle-tracking .card-title .content {
  display: block;
  position: relative;
}

.vehicle-tracking .vehicle-search-icon {
  top: 2px;
  left: 212px;
  position: absolute;
}

.vehicle-tracking .vehicle-search-icon img {
  width: 30px;
}

table {
  width: 100%;

}

thead th {
  font-size: 14px;
  color: rgba(0, 0, 0, 39%);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

tbody {
  text-align: center;
}

tbody td {
  font-size: 12px;
  color: rgba(0, 0, 0, 57%);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 235%;
}

.blue {
  color: #167EFB;
}

table .active:before {
  content: url('image/fleet.svg');
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
}

table .inactive:before {
  content: url('image/inactive.svg');
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
}

/* Main End */

.mobile-menu-open {
  display: flex;
  gap: 10px;
}

.ham-icon {
  border: none;
  background: none;
  display: none;
}

.ham-icon img {
  width: 40px;
  height: 40px;
}

@media (max-width: 1024px) {

  /* Mobile Menu Started */

  .ham-icon {
    display: block;
  }

  .sidebar {
    display: none;
  }

  .sidebar.active {
    display: block;
    transition: 0.3s ease;
    background: #fff;
    z-index: 111;
    height: 100vh;
    position: fixed;
  }

  main {
    transition: 0.3s ease;
    margin-left: 50px;
  }

  .navbar .search {
    width: auto;
  }

  /* Mobile Menu End */

  .cards {
    grid-template-columns: auto;
  }

  .expense-chart-card, .vehicle-table, .service-card {
    grid-column: span 2;
  }
}

@media (max-width: 500px) {

  .cards {
    display: block;
  }

  .search-input{
    display: none !important;
  }

  main {
    transition: 0.3s ease;
    margin-left: 10%;
  }

  .card {
    height: 100%;
    margin: 20px 0px;
    min-width: 340px;
  }

  .revenue-chart-card .card-title .content {
    flex-direction: column;
    gap: 10px;
  }

  .navbar .search-form {
    gap: 10px;
  }
}