:root {
    --color-theme-red: #B00000;
    --color-theme-gray: #DAD8D8;
    --font-inter: "Inter";
    --font-poppins: "Poppins";
    --semi-bold: 600;
    --extra-bold: 800;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header */

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    border: none;
}

.btn {
    padding: 12px;
    width: 160px;
    min-height: 50px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.btn-primary {
    background: var(--color-theme-red);
    color: #ffffff;
    box-shadow: 0 0 64px rgba(176, 0, 0, 30%);
}

.btn-secondary {
    background: #ffffff;
    color: #000000;
    border: 1px solid #000000;
}

.container-header {
    max-width: 1134px;
    margin: 0 auto;
    background: #ffffff;
}

.navbar {
    display: flex;
    margin: 42px 0px;
    justify-items: center;
    align-items: center;
    width: 1134px;
}

nav.scrolled {
    top: 0;
    z-index: 111;
    position: fixed;
    margin: 0 !important;
    padding: 15px;
    background: #ffffff;
    box-shadow: 0 10px 20px rgba(41, 41, 42, 7%);
}

nav.scrolled .navbar {
    margin: 10px;
}

.mobile-nav, .mobile-menu-container {
    display: none;
}

.header ul {
    display: flex;
}

.header .menus {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.header ul li .menu {
    font-size: 15px;
    font-weight: var(--semi-bold);
    text-decoration: none;
    color: #000000;
    margin-right: 33px;
    font-family: var(--font-poppins), sans-serif;
}

.header ul li .active {
    border-bottom: 2px solid var(--color-theme-red);
}

.menus .mobile-number {
    display: flex;
    align-items: center;
    gap: 10px;
}

.menus .mobile-number::before {
    content: url('/images/phone.svg');
}

.menus .account-menu {
    border-right: 1px solid var(--color-theme-gray);
    padding-right: 30px;
}

.menus .service-menu {
    margin-left: 66px;
}

.container {
    max-width: 1134px;
    margin: 0 auto;
}


/* hero-section section */

.hero-section {
    display: flex;
    justify-content: space-between;
    margin: 80px 0px;
}

.hero-section .left ul {
    display: flex;
    gap: 25px;
    border-bottom: 2px solid rgba(214, 212, 212, 88%);
    width: 300px;
}

.hero-section .left ul li a {
    color: rgba(214, 212, 212, 88%);
    padding: 2px;
    font-family: var(--font-poppins), sans-serif;
    font-weight: var(--semi-bold);
}

.hero-section .left ul li a.active {
    border-bottom: 2px solid var(--color-theme-red);
    color: var(--color-theme-red);
}

.hero-section .content h1 {
    font-family: var(--font-poppins), sans-serif;
    font-size: 64px;
    font-weight: bold;
    line-height: 78px;
    margin: 34px 0px;
}

.hero-section .btn-group {
    margin-top: 60px;
    display: flex;
    gap: 25px;
}

.hero-section .content p {
    font-family: var(--font-inter), sans-serif;
    line-height: 28px;
    font-size: 16px;
    color: #808080;
}

.hero-section .right {
    position: relative;
}

.hero-section .ornament {
    position: absolute;
}

.hero-section .ornament-1 {
    right: -4%;
    top: 64px;
}

.hero-section .ornament-2 {
    left: -25px;
    top: 60%;
    transform: rotate(90deg);
}

.hero-section .ornament-3 {
    right: -4%;
    top: 80%;
    transform: scale(1.8)
}


/* services */

.service-container {
    max-width: 1172px;
    margin: 0 auto;
}

.services .about {
    display: flex;
    justify-content: space-between;
    gap: 70px;
}

.services .about h2 {
    font-family: var(--font-inter), sans-serif;
    font-weight: var(--extra-bold);
    font-size: 48px;
    line-height: 64px;
}

.services .about p {
    font-family: var(--font-inter), sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: #18191F;
    margin-top: 20px;
    font-weight: normal;
}

.services .about .right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    row-gap: 30px;
}

.features {
    display: flex;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 133px;
    gap: 54px;
    justify-content: space-between;
}

.feature {
    max-width: 260px;
}

.feature p {
    font-family: var(--font-poppins), sans-serif;
    font-size: 12px;
    color: #000;
    font-weight: 300;
    margin: 2px;
}

.feature h2 {
    font-family: var(--font-poppins), sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 4px;
    margin-top: 10px;
}

.pricing .pricing-header {
    text-align: center;
    margin-bottom: 50px;
}

.pricing .pricing-header h1 {
    font-size: 50px;
    font-family: var(--font-poppins), sans-serif;
    line-height: 60px;
    font-weight: var(--semi-bold);
}

.pricing .pricing-header p {
    font-size: 25px;
    font-family: var(--font-poppins), sans-serif;
    line-height: 25px;
    font-weight: normal;
    margin-top: 38px;
}

.badge {
    border-radius: 8px;
    padding: 8px;
    font-family: var(--font-poppins), sans-serif;
    font-size: 10px;
}

.badge-yellow {
    color: #000000;
    background: #FFE87A;
}

.pricing .radio-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing .tabs {
    margin-top: 70px;
    margin-bottom: 96px;
}

.pricing .tabs .nav-tabs {
    display: flex;
    justify-content: center;
}

.pricing .tabs .nav-tabs li a {
    color: #000000;
    font-size: 30px;
    font-weight: var(--semi-bold);
    text-decoration: none;
    padding: 10px 135px;
    font-family: var(--font-poppins), sans-serif;
}

.pricing .tabs .nav-tabs li {
    border-bottom: 4px solid var(--color-theme-gray);
}

.pricing .tabs ul li.active {
    border-bottom: 4px solid var(--color-theme-red);
}

.pricing .cards {
    margin-top: 85px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.pricing .card {
    width: 300px;
    border: 2px solid #C4C4C4;
    border-radius: 15px;
    padding: 34px;
    font-family: var(--font-poppins), sans-serif;
}

.pricing .card h2 {
    font-size: 28px;
    font-weight: var(--semi-bold);
    line-height: 25px;
}

.pricing .card p {
    font-size: 12px;
    line-height: 18px;
    margin-top: 11px;
    margin-bottom: 28px;
}

.pricing .card .price h2 {
    font-size: 42px;
    font-weight: var(--semi-bold);
    line-height: 25px;
}

.pricing .card .price p {
    font-size: 14px;
    line-height: 14px;
    color: #000;

}

.pricing .card .btn-plan {
    border: 2px solid #000;
    width: 100%;
}

.pricing .card .feature ul {
    margin-top: 35px;
    margin-bottom: 14px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 16px;
    font-weight: var(--semi-bold);
    color: #808080;
}

.pricing .card .feature ul li {
    display: flex;
}

.pricing .card .feature ul li::before {
    content: url("/images/Checkmark.svg");
    margin-right: 24px;
}

/* radio switch */
.radio-group .radio {
    display: flex;
    align-items: center;
    gap: 40px;
}

.radio-group p {
    font-size: 25px;
    font-family: var(--font-poppins), sans-serif;
}

.onoffswitch {
    position: relative;
    width: 95px;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #FFFFFF;
    border-radius: 73px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 50px;
    padding-top: 15px;
    line-height: 22px;
    font-size: 12px;
    color: black;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "";
    padding-left: 6px;
    background-color: var(--color-theme-red);
    color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "";
    padding-right: 6px;
    background-color: var(--color-theme-red);
    color: #FFFFFF;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 30px;
    height: 30px;
    margin: 5px;
    background: #FFFFFF;
    position: absolute;
    top: 12%;
    border: 2px solid #FFFFFF;
    border-radius: 100%;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

/* radio switch */


/* testimonials */

.testimonials {
    margin-bottom: 84px;
    position: relative;
}

.testimonials .testimonial-header h1 {
    font-size: 48px;
    line-height: 64px;
    font-family: var(--font-inter), sans-serif;
    font-weight: 800;
    position: relative;
    padding-left: 95px;
    padding-top: 56px;
}

.testimonials .testimonial-header h1::before {
    position: absolute;
    top: 0;
    left: 0; 
    content: '';
    display: inline-block;
    width: 150px;
    height: 150px;
    background-image: url("/images/QuoteMark.svg");
    background-size: 150px;
    background-repeat: no-repeat;
} 

.testimonials .testimonial-header .header-text {
    font-size: 18px;
    line-height: 32px;
    font-family: var(--font-inter), sans-serif;
    padding-left: 95px;
}

.testimonials .testimonial-header {
    display: flex;
    gap: 60px;
}

.testimonials .card-1 {
    margin-top: 106px;
}

.testimonials .card-2 {
    position: absolute;
    top: 252px;
    height: 470px;
    width: 350px;
    left: 185px;
}

.testimonials .card-3 {
    margin-top: 32px;
    width: 350px
}

.testimonials .card {
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(41, 41, 42, 7%);
    max-width: 445px;
    padding: 32px;
    padding-left: 64px;
}

.testimonials .card .testimonial-text::before {
    content: url("/images/QuoteMarkGreen.svg");
    position: absolute;
    left: -30px;
    top: -10px;
}

.testimonials .card .testimonial-text {
    font-family: var(--font-inter), sans-serif;
    font-size: 16px;
    line-height: 32px;
    color: #000000;
    font-weight: 400;
    position: relative;
    margin-bottom: 24px;
}

.testimonials .card .user h2 {
    font-family: var(--font-inter), sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 28px;
    color: #18191F;
}

.testimonials .card .user p {
    font-family: var(--font-inter), sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #969BAB;
}

/* Our users */

.our-users .right {
    display: flex;
    column-gap: 65px;
    row-gap: 0 !important;
}

.banner {
    background-color: #F7FAFE;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    margin-top: 106px;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.banner h1 {
    font-size: 64px;
    font-weight: var(--semi-bold);
    line-height: 88px;
    font-family: var(--font-poppins), sans-serif;
    padding: 40px 90px;
    padding-top: 90px;
}

.banner .btn {
    display: flex;
    box-shadow: none;
    margin-bottom: 90px;
    width: auto;
    align-items: center;
    gap: 4px;
    height: 50px;
}

.banner .btn::before {
    content: url("/images/whatsapp.svg");
}

.banner .ornament {
    position: absolute;
}

.banner .ornament-1 {
    right: 30%;
    top: 0;
}

.banner .ornament-2 {
    left: -20px;
    top: 60%;
    transform: rotate(90deg);
}

.banner .ornament-3 {
    right: -2%;
    top: 80%;
    transform: scale(1.8)
}

footer {
    background: var(--color-theme-red);
    margin-top: 110px;

}

.footer-section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    padding: 80px 0px;
    gap: 70px;
}

footer .texts {
    font-family: var(--font-inter), sans-serif;
    font-size: 16px;
    color: #E6E6E6;
    font-weight: 400;
    line-height: 32px;
}

.footer-section h2 {
    font-size: 16px;
    font-family: var(--font-inter), sans-serif;
    font-weight: bold;
    color: #ffffff;
}

.footer-section li {
    margin: 24px 0px;
}

.footer-section img {
    margin-bottom: 10px;
}

.copywrite {
    padding-bottom: 80px;
}

/*mobile menu */


.mobile-menu-container {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 100%;
    background: var(--color-theme-red);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11111;
    transition: all 400ms ease;
}

.mobile-menu-container.active {
    left: 0;
}

.mobile-menu-container .close-icon {
    position: fixed;
    top: 32px;
    right: 30px;
    opacity: 0;
    pointer-events: none;
    transition: all 400ms ease;
}

.mobile-menu-container.active .close-icon {
    opacity: 1;
    pointer-events: auto;
}

.mobile-menu-container ul {
    list-style: none;
    padding: 0;
}

.mobile-menu-container ul li {
    margin: 30px 0;
    text-align: center;
}

.mobile-menu-container ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-family: var(--font-poppins), sans-serif;
    font-weight: var(--semi-bold);
}


@media (min-width : 700px) and (max-width : 1024px) {
    .header {
        display: none;
    }

    .mobile-nav {
        display: flex;
        justify-content: space-between;
        padding: 15px;
        align-items: center;
        position: fixed;
        top: 0;
        background: #ffffff;
        z-index: 11;
        width: 100%;
    }

    .container,
    .service-container {
        margin: 0 100px;
    }

    .hero-section {
        display: block;
        margin-top: 150px;
    }

    .hero-section .right {
        margin-top: 100px;
    }

    .hero-section .banner-img{
        margin-right: 0;
        width: 100%;
    }

    .services .about {
        display: block;
    }

    .services .about .right {
        margin-top: 100px;
    }

    .features {
        flex-wrap: wrap;
        justify-content: center;
    }

    .pricing .cards {
        justify-content: center;
    }

    .footer-section {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
    }

    .testimonials .testimonial-header {
        display: block;
    }

    .testimonials {
        position: unset;
    }

    .testimonials .card-3, .testimonials .card-2 {
        width: auto;
    }

    .testimonials .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .testimonials .card-2 {
        position: unset;
        margin-top: 32px;
    }

}

@media (max-width : 699px) {
    .header {
        display: none;
    }

    .mobile-nav {
        display: flex;
        justify-content: space-between;
        padding: 15px;
        align-items: center;
        position: fixed;
        top: 0;
        background: #ffffff;
        z-index: 11;
        width: 100%;
    }

    .container,
    .service-container {
        margin: 0 50px;
    }

    .hero-section {
        display: block;
        margin-top: 125px;
    }

    .hero-section .right {
        margin-top: 100px;
    }

    .hero-section .banner-img {
        margin-right: 0;
        width: 100%;
    }

    .hero-section .content h1 {
        font-size: 32px;
        line-height: normal;
    }

    .hero-section .ornament-3 {
        transform: scale(1);
    }

    .services .about h2 {
        font-size: 30px;
        line-height: normal;
    }

    .services .about {
        display: block;
    }

    .services .about .right {
        margin-top: 100px;
        grid-template-columns: 1fr;
        row-gap: 70px;
        justify-items: center;
    }

    .features {
        flex-wrap: wrap;
        justify-content: center;
    }


    .pricing .pricing-header h1 {
        font-size: 25px;
        line-height: normal;
    }

    .pricing .tabs .nav-tabs {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .radio-group .radio {
        flex-direction: column;
    }

    .banner h1 {
        font-size: 32px;
        line-height: normal;
    }

    .pricing .tabs .nav-tabs li a {
        padding: 10px 30%;
    }

    .footer-section {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        gap: 40px;
        padding: 40px 0px;
    }

    .testimonials .testimonial-header {
        display: block;
    }

    .testimonials {
        position: unset;
    }

    .testimonials .card-3, .testimonials .card-2 {
        width: auto;
    }

    .testimonials .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .testimonials .card-2 {
        position: unset;
        margin-top: 32px;
        height: auto;
    }

    .testimonials .testimonial-header h1 {
        font-size: 24px;
        line-height: normal;
    }

    .testimonials .card-1 {
        margin-top: 50px;
    }

    .testimonials .testimonial-header h1::before {
        background-size: 130px;
    }
}