:root {
    --color-theme-red: #B00000;
    --color-theme-gray : #DAD8D8;
    --font-inter : "Inter";
    --font-poppins : "Poppins";
    --semi-bold : 600;
    --extra-bold : 800;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header */

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    border: none;
}

.btn {
    padding: 12px;
    width: 160px;
    min-height: 50px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.btn-primary {
    background: var(--color-theme-red);
    color: #ffffff;
    box-shadow: 0 0 64px rgba(176, 0, 0, 30%);
}

.btn-secondary {
    background: #ffffff;
    color: #000000;
    border: 1px solid #000000;
}

nav {
    display: flex;
    margin: 42px 0px;
    justify-items: center;
    align-items: center;
}

.header ul {
    display: flex;
}

.header .menus {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.header ul li .menu {
    font-size: 15px;
    font-weight: var(--semi-bold);
    text-decoration: none;
    color: #000000;
    margin-right: 33px;
    font-family: var(--font-poppins), sans-serif;
}

.header ul li .active {
    border-bottom: 2px solid var(--color-theme-red);
}

.menus .mobile-number {
    display: flex;
    align-items: center;
    gap: 10px;
}

.menus .mobile-number::before {
    content: url('/images/phone.svg');
}

.menus .account-menu {
    border-right: 1px solid var(--color-theme-gray);
    padding-right: 30px;
}

.menus .service-menu {
    margin-left: 66px;
}

.container {
    max-width: 1134px;
    margin: 0 auto;
}


/* banner section */

.banner {
    display: flex;
    justify-content: space-between;
    margin: 80px 0px;
}

.banner .left ul {
    display: flex;
    gap: 25px;
    border-bottom: 2px solid rgba(214, 212, 212, 88%);
    width: 300px;
}

.banner .left ul li  a {
    color: rgba(214, 212, 212, 88%);
    padding: 2px;
    font-family: var(--font-poppins), sans-serif;
    font-weight: var(--semi-bold);
}

.banner .left ul li  a.active {
    border-bottom: 2px solid var(--color-theme-red);
    color: var(--color-theme-red);
}

.banner .content h1 {
    font-family: var(--font-poppins), sans-serif;
    font-size: 64px;
    font-weight: bold;
    line-height: 78px;
    margin: 34px 0px;
}

.banner .btn-group {
    margin-top: 60px;
    display: flex;
    gap: 25px;
}

.banner .content p {
    font-family: var(--font-inter), sans-serif;
    line-height: 28px;
    font-size: 16px;
    color: #808080;
}

.banner .right {
    position: relative;
}

.banner .ornament {
    position: absolute;
}

.banner .ornament-1 {
    right: -4%;
    top: 64px;
}

.banner .ornament-2 {
    left: -25px;
    top: 60%;
    transform: rotate(90deg);
}

.banner .ornament-3 {
    right: -4%;
    top: 80%;
    transform: scale(1.8)
}


/* services */

.services .about {
    display: flex;
    justify-content: space-between;
    gap: 70px;
}

.services .about h2 {
    font-family: var(--font-inter), sans-serif;
    font-weight: var(--extra-bold);
    font-size: 48px;
    line-height: 64px;
}

.services .about p {
    font-family: var(--font-inter), sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: #18191F;
    margin-top: 20px;
    font-weight: normal;
}

.services .about .right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    column-gap: 30px;
}

.features {
    display: flex;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 133px;
    gap: 54px;
    justify-content: space-between;
}

.feature {
    max-width: 260px;
}

.feature p {
    font-family: var(--font-poppins), sans-serif;
    font-size: 12px;
    color: #000;
    font-weight: 300;
    margin: 2px;
}

.feature h2 {
    font-family: var(--font-poppins), sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 4px;
    margin-top: 10px;
}


@media (min-width : 700px) and (max-width : 1024px) {
    .header {
        display: none;
    }

    .container {
        margin: 0 100px;
    }

    .banner {
        display: block;
    }

    .banner .right {
        margin-top: 100px;
    }

    .banner .banner-img {
        margin-right: 0;
        width: 100%;
    }
    
    .services .about {
        display: block;
    }

    .services .about .right {
        margin-top: 100px;
    }

    .features {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width : 699px) {
    .header {
        display: none;
    }

    .container {
        margin: 0 50px;
    }

    .banner {
        display: block;
    }

    .banner .right {
        margin-top: 100px;
    }

    .banner .banner-img {
        margin-right: 0;
        width: 100%;
    }

    .banner .content h1 {
        font-size: 32px;
        line-height : normal;
    }

    .banner .ornament-3 {
        transform: scale(1);
    }

    .services .about h2 {
        font-size: 30px;
        line-height : normal;
    }
    
    .services .about {
        display: block;
    }

    .services .about .right {
        margin-top: 100px;
        grid-template-columns: 1fr;
        row-gap: 70px ;
        justify-items: center;
    }

    .features {
        flex-wrap: wrap;
        justify-content: center;
    }
}
