:root {
    --color-orange: #DA722C;
    --color-light-blue: #057ADA;
    --color-cyan: #E8F7FB;
    --color-purple: #6F7DFB;
    --color-dark: #023047;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.wrapper {
    max-width: 1134px;
    margin: 0 auto;
}

.btn {
    padding: 16px 32px;
    border-radius: 24px;
    border: 1px solid transparent;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    position: relative;
}

nav.mobile-nav,
.mobile-menu-container {
    display: none;
}

.btn.primary {
    background-color: var(--color-orange);
}

.btn.dark {
    background-color: var(--color-dark);
}

.btn-icon {
    position: absolute;
    left: 28px;
}

.btn.enroll-icon {
    padding-left: 50px;
}

header {
    background: linear-gradient(180deg, #6F7DFB 0%, #26308C 100%);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 1134px;
    z-index: 1111;
    top: 36px;
    transition: 0.3s ease;
}

nav.scrolled {
    background-color: black;
    top: 0;
    padding: 20px;
}

nav .logo {
    color: #FFFFFF;
    font-size: 40px;
    line-height: 47px;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
}

.hero-section {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    position: relative;
    color: #fff;
}

.hero-section .left h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 50px;
    line-height: 125%;
    margin-bottom: 0;
}

.hero-section .left p {
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
    margin-bottom: 30px;
    width: 457px;
}

.hero-section .left {
    flex: 1;
}

.hero-section .right {
    align-self: flex-end;
}

.hero-section .right img {
    height: 520px;
    vertical-align: middle;
}



.achievement-card {
    position: absolute;
    min-width: 200px;
    color: var(--color-dark);
}

.achievement-card .content {
    border-radius: 24px;
    background: #fff;
    padding: 8px 32px;
    z-index: 10;
    position: relative;
}

.achievement-card.students-enrolled {
    left: 530px;
    top: 323px;
}

.achievement-card.overall-rating {
    left: 489px;
    top: 562px;
}

.achievement-card .content div {
    display: flex;
    align-items: center;
    gap: 12px;
}

.achievement-card h3 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    text-align: center;
    width: 100%;
    flex: 1;
    padding-bottom: 10px;
}

.achievement-card img {
    flex: 1;
    height: 40px;
}

.achievement-card p {
    font-weight: normal;
    font-size: 16px;
    margin-top: -8px;
    margin-bottom: 8px;
    text-align: center;
}

.achievement-card .bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #6f7dfb 0%, #3b448f 100%);
    border-radius: 24px;
    top: 8px;
    left: 8px;
    z-index: 1;
}

/*testimonials */
.testimonials {
    padding: 100px 0px;
    display: flex;
    position: relative;
}

.testimonials .left {
    width: 50%;
}

.testimonials .card {
    width: 442px;
    background-color: #FFFFFF;
    border-radius: 24px;
    box-shadow: 0px 9px 36px #000000;
}

.testimonials .card .card-header {
    border-radius: 24px;
    padding: 32px 24px;
    color: #ffffff;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
}

.card.women .card-header {
    background-color: var(--color-purple);
}

.card.men .card-header {
    background-color: var(--color-orange);
}

.card.men {
    position: absolute;
    margin-top: 50px;
    left: 32px;
}

.testimonials .right {
    width: 50%;
    padding: 85px 0px;
}

.testimonials .right h1 {
    color: #023047;
    font-family: "Raleway", sans-serif;
    font-size: 60px;
    font-weight: 900;
    margin: 0;
}

.testimonials .right p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #023047;
    line-height: 200%;
}

.testimonials .card .card-header h3 {
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    color: white;
    line-height: 120%;
    margin: 0;
}

.testimonials .card p {
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    color: #023047;
    line-height: 120%;
    margin: 0;
}

.testimonials .card-body {
    display: flex;
    justify-content: space-between;
    position: relative;
    min-height: 120px;
}

.testimonials .card-body .content {
    padding: 32px;
}

.testimonials .card-body .content h3 {
    margin: 0;
    margin-bottom: 8px;
}

.testimonials .card-body img {
    height: 120px;
    width: 120px;
    position: absolute;
    right: 32px;
    top: -12px
}


.testimonials .border {
    position: absolute;
    left: 87px;
    top: 63px;
    z-index: -1;
}

.testimonials .border img {
    height: 600px;
}

/* courses */

.courses-bg {
    background: linear-gradient(180deg, #6F7DFB 0%, #26308C 100%);
}

.courses {
    padding: 70px 0px 169px 0px;
}

.courses h1 {
    font-size: 60px;
    font-family: "Raleway", sans-serif;
    color: #ffffff;
    text-align: center;
    font-weight: 900;
    margin: 0;
    margin-bottom: 56px;
}

.courses .boxes {
    display: flex;
    align-items: center;
    gap: 73px;
}

.courses .box {
    background-color: #FFFFFF;
    border-radius: 24px;
    width: 526px;
    height: 418px;
}

.box .content-img {
    text-align: center;
    margin-top: -4px;
}

.box .content {
    display: flex;
    margin: 30px 32px 30px 32px;
    position: relative;
}

.box .content h3 {
    font-weight: 900;
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    color: #023047;
    width: 100%;
    margin: 0;
}

.box .content span {
    font-weight: 900;
    width: 88px;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    color: #023047;
    display: flex;
    align-items: center;
    margin: 0;
    margin: 33px 0px;
}

.box .border {
    border: 5px solid #023047;
    border-radius: 24px;
    margin: -12px 32px;
}

.courses-bg button {
    margin-top: 40px;
    float: right;
}

.get-app {
    text-align: center;
    margin: 100px 0px;
}

.get-app h1 {
    font-size: 60px;
    font-family: "Raleway", sans-serif;
    color: #023047;
    font-weight: 900;
    margin: 0;
}

.get-app p {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: #023047;
    margin: 0;
    line-height: 200%;
    padding-top: 13px;
}

.get-app .boxes {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 45px;
}

footer {
    background-color: #070917;
    position: relative;
    bottom: 0;
}

footer .links {
    padding: 70px 70px 0px 70px;
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
}

footer ul li {
    list-style: none;
    margin: 16px -10px;
}

footer ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

footer h3 {
    color: #DA722C;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
}

.social-links {
    display: flex;
    gap: 28px;
}

form {
    margin-left: 30px;
    margin-top: 16px;
    position: relative;
}

footer input {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
    border-radius: 8px;
    padding: 8px 160px 8px 32px;
    border: none;
    width: 100%;
    color: #000000;
    height: 39px;
}

footer .submit-btn {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: #023047;
    border-radius: 8px;
    padding: 8px 32px;
    border: 0;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
}

.copyright p {
    margin: 0;
}

.copyright {
    color: #FFFFFF;
    padding: 32px 70px 70px 70px;
}

@media (min-width: 700px) and (max-width : 1024px) {
    .wrapper {
        padding: 100px 0;
    }

    nav {
        width: 100%;
        padding: 60px;
        top: 0;
    }

    nav.scrolled {
        width: 100%;
    }

    .hero-section {
        display: block;
        padding: 100px;
    }

    .btn {
        padding: 12px 32px;
    }

    .testimonials {
        display: flex;
        padding: 100px;
        padding-bottom: 0px;
        flex-direction: column-reverse;
        padding-top: 0px;
    }

    .testimonials .left {
        width: 100%;
        margin-top: 55px;
    }

    .testimonials .right {
        width: 100%;
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .testimonials .card {
        width: 100%;
        position: static;
    }

    .testimonials .border {
        position: absolute;
        left: 187px;
        top: 235px;
    }

    .testimonials .btn {
        float: right;
    }

    .courses .boxes {
        display: block;
    }

    .courses .box {
        width: 100%;
    }

    .courses .box1 {
        margin-bottom: 80px;
    }

    .courses {
        padding: 100px;
        padding-top: 0px;
    }

    .get-app {
        margin: 0;
    }

    footer .links {
        padding-top: 0;
        padding-bottom: 0;
        grid-template-columns: 1fr 1fr;
    }

    footer .contact-us {
        margin-top: 45px;
        grid-column: 1 / 3;
    }

    .copyright {
        padding-bottom: 0px;
    }
}


@media (max-width : 500px) {
    .wrapper {
        padding: 0px 32px;
    }

    .get-app .boxes {
        display: block;
    }

    h1 {
        font-size: 30px !important;
    }

    .menu {
        display: none;
    }

    nav {
        display: none;
    }

    nav.mobile-nav {
        display: flex;
        width: 88% !important;
    }

    nav.mobile-nav.scrolled {
        background: black;
        box-shadow: 0 9px 21px -5px rgba(0, 0, 0, 0.3);
        width: 100% !important;
    }

    .mobile-menu-container {
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 100%;
        background: var(--color-dark);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 11111;
        transition: all 400ms ease;
    }

    .mobile-menu-container.active {
        left: 0;
    }

    .mobile-menu-container .close-icon {
        position: fixed;
        top: 32px;
        right: 100px;
        opacity: 0;
        pointer-events: none;
        transition: all 400ms ease;
    }

    .mobile-menu-container.active .close-icon {
        opacity: 1;
        pointer-events: auto;
    }

    .mobile-menu-container ul {
        list-style: none;
        padding: 0;
    }

    .mobile-menu-container ul li {
        margin: 30px 0;
        text-align: center;
    }

    .mobile-menu-container ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
    }

    nav.scrolled {
        margin-left: -32px;
    }

    .hero-section {
        flex-direction: column;
    }

    .hero-section .left {
        margin-top: 58px;
    }

    .hero-section .right {
        right: 0;
        position: absolute;
        bottom: 0;
    }

    .achievement-card {
        position: absolute;
    }

    .achievement-card .bg {
        background: transparent;
    }

    .hero-section .right img {
        height: 399px;
    }

    .achievement-card.students-enrolled {
        margin-bottom: 57px;
        width: 182px;
        left: 0;
        top: 622px;
    }

    .achievement-card.overall-rating {
        width: 172px;
        left: 0;
        top: 754px;
    }

    .hero-section .left p {
        width: auto;
    }

    .courses .boxes {
        display: block;
    }

    .courses .box {
        width: auto;
        height: 380px;
    }

    .box .content-img img {
        width: 349px;
    }

    .box .content h3 {
        font-size: 24px;
    }

    .box .border {
        margin: 48px 32px;
    }

    .box2 {
        margin-top: 60px;
    }

    .btn {
        padding: 10px 32px;
    }

    .boxes {
        margin: 0px -22px;
    }

    .testimonials {
        display: flex;
        flex-direction: column-reverse;
    }

    .card.men {
        position: static;
    }

    .testimonials .left {
        width: 100%;
    }

    .testimonials .right {
        width: 100%;
    }

    .testimonials .card {
        width: auto;
    }

    .testimonials .card .card-header h3 {
        font-size: 18px;
    }

    .testimonials .border {
        left: 83px;
        bottom: 35px;
        top: auto;
    }

    footer .links {
        display: block;
        text-align: center;
    }

    .links ul {
        margin-bottom: 40px;
        margin-left: -30px;
    }

    .social-links {
        display: block;
    }

    .social-links img {
        padding: 10px
    }

    .copyright {
        text-align: center;
    }

    footer .submit-btn {
        position: static;
        transform: none;
        margin-top: 15px;
    }

    footer input {
        padding: 10px;
        margin-top: -10px;
    }
}